

<h1>About</h1>
<p>You've found the home page for the <br >
<%= link_to "One Month Rails", "https://www.udemy.com" %>
application
</p>
<p><a href="#">Sign Up Now!</a>

<%= link_to "Sign Up", "#" %>
</p>


