
<div class="row">
	<div class="span5">
		<h1>Navigation Bar</h1>
	</div>
	<div class="span6">		
<div class="jumbotron">
  <h1>Welcome to One Month Rails!</h1>
  <p>You've found the home page for the <br >
		<%= link_to "One Month Rails", "https://www.udemy.com" %>
		application</p>
  <p><%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
		</p>
</div>		
		
		
		

		</p>
	</div>
</div>

